html,
body {
    font-family: 'Roboto Mono',sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

.updateAmount {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 100px;
    cursor: pointer;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    -o-border-radius:45px;
    -ms-border-radius:45px;
    border-radius:45px;
}

.randomNo,
.fillInfo,
.score
{
    color: black;
    text-align: center;
    display: block;
    margin: 0 auto;
}